body {
padding-top: 20px;
padding-bottom: 40px;
background-color: #F4F4F4;
/*background:url("../img/cream_dust.png") 0 0 repeat */
}
a {
    color: #2f8077;
}
/* Custom container */
.container-narrow {
margin: 0 auto;
max-width: 900px;
}
.container-narrow > hr {
margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
margin: 60px 0;
text-align: center;
}
.jumbotron h1 {
font-size: 72px;
line-height: 1;
}
.jumbotron .btn {
font-size: 21px;
padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
margin: 60px 0;
}
.marketing p + h4 {
margin-top: 28px;
}

.logo {
    background: url("../img/logo.png") no-repeat;
    padding-left: 45px;
    height: 50px;
    padding-top: 5px;
}

.muted.logo > a {
    color: inherit;
    text-decoration: none;
}

.nav-pills > .active > a, .nav-pills > .active > a:hover {
color: white;
background-color: #45b8ac;
}

h1 {
    color:#222;
    font-family:"Helvetica Neue", Helvetica, sans-serif;
    font-size:48px;
    margin:50px 0
}

h2 {
    font-family:"HelveticaNeue-CondensedBold", Helvetica, sans-serif
}

h3 {
    color:#555;
    font-family:"Arbutus Bold", Georgia, serif;
    font-size:25px;
    font-weight:normal;
    line-height:20px
}

p {
    color:#777;
    font-family:Georgia, serif;
    font-size:15px;
    font-weight:normal;
}

.small {
    color:#999;
    font-family:"Arbutus Bold", Georgia, serif;
    font-size:12px;
    font-weight:normal;
    margin: 10px 0px;
}

.heading {
    font-weight:bold;
}

.footer {
    color: #999;
    text-align: center;
}

/* play page */

#PlayCarousel {
}

.item {
    border: 1px solid #DDD;
    padding: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.055);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.item img {
    margin: auto;
    -moz-box-shadow: 0px 1px 3px rgba(0,0,0,0.3);
    -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
}

.item-wrapper {
    position: relative;
    margin: 10px 0px;
}

.PriceContainer {
    position: absolute;
    z-index: 2;
    top: 0px;
    left: 0px;
    width: 100px;
    height: 110px;
    overflow: hidden;
}

.price {
    position: absolute;
    z-index: 2;
    top: 19px;
    left: -60px;
    width: 200px;
    height: 25px;
    padding-top: 8px;
    color: white;
    text-align: center;
    text-shadow: rgba(0, 0, 0, 0.5) 0px -1px 0px;
    letter-spacing: 0.15em;
    font-size: 16px;
    background-color: #FF4C47;
    overflow: hidden;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
}

.thumbnail img {
    height: 100px;
}

div.highlightthumb {
    border: 1px solid #45B8AC;
}

.vote-gem, .vote-dud {
    width: 200px;
}

.votebuttons {
    text-align: center;
    color:#BBB;
    font-family:"Arbutus Bold", Georgia, serif;
    font-size:15px;
    font-weight:normal;
    line-height:20px;
    margin-bottom:20px
}

/* Fix copied from stackoverflow or else thumbnails don't line up after 2nd Bootstrap row-fluid */
.row-fluid ul.thumbnails li.span12 + li { margin-left : 0px; }
.row-fluid ul.thumbnails li.span6:nth-child(2n + 3) { margin-left : 0px; }
.row-fluid ul.thumbnails li.span4:nth-child(3n + 4) { margin-left : 0px; }
.row-fluid ul.thumbnails li.span3:nth-child(4n + 5) { margin-left : 0px; }
.row-fluid ul.thumbnails li.span2:nth-child(6n + 7) { margin-left : 0px; }

/* Side bar - previous vote result */
#showavatar {
width: 100px;
height: 100px;
overflow: hidden;
-webkit-border-bottom-right-radius: 0px;
-webkit-border-bottom-left-radius: 3px;
-moz-border-radius-bottomright: 0px;
-moz-border-radius-bottomleft: 3px;
border-bottom-right-radius: 0px;
border-bottom-left-radius: 3px;
-webkit-border-top-right-radius: 0px;
-webkit-border-top-left-radius: 3px;
-moz-border-radius-topright: 0px;
-moz-border-radius-topleft: 3px;
border-top-right-radius: 0px;
border-top-left-radius: 3px;
padding: 0;
margin: -10px 15px -10px -10px;
float: left;
}

#showusername {
width: 135px;
float: left;
}

#user-info {
position: relative;
min-height: 80px;
overflow: hidden;
}


.card {
   background-image: none;
   background-color: #fcfcfc;
   -moz-box-shadow: rgba(0, 0, 0, 0.14902) 0px 1px 1px 0px;
   -webkit-box-shadow: rgba(0, 0, 0, 0.14902) 0px 1px 1px 0px;
   -o-box-shadow: rgba(0, 0, 0, 0.14902) 0px 1px 1px 0px;
   box-shadow: rgba(0, 0, 0, 0.14902) 0px 1px 1px 0px;
   padding: 10px;
   border-radius: 3px;
   min-height: 80px;
   border-spacing: 0px;
   color: #333333;
   font-family:'helvetica neue';
   font-size: 11pt;
   line-height: 1.5;
   border: none;
   font-weight: normal;
   text-decoration: initial;
   text-align: left;
 }

 .card div a img {
   border: none;
   width: 100px;
   min-height: 100px;
   border-spacing: 0px;
   color: #3589a7;
   font-family:'helvetica neue', 'helvetica neue', helvetica, arial, sans-serif;
   font-size: 14px;
   line-height: 22.0;
 }
