{% extends "./base.html" %}

{% block title %}Gems of Craigslist - Spot a Gem!{% endblock %}

{% block head %}
<meta name="description" content="Discover the gems of cragislist.">
{% endblock %}

{% block body %}

{% for item in items %}
<div class="row-fluid item">
  <div class="span9">
    <div class="imageholder">
      <img src="{{ item.first_image.url }}" />
      <strong class="PriceContainer">
        <strong class="price">${{ item.price }}</strong>
      </strong>
    </div>
  </div>
  <div class="span3">
    <h4>{{ item.title }}</h4>
    <p>[diamond] Rating: {{ item.rating }}</p>
  </div>
</div>
{% endfor %}

<hr>

{% endblock %}

{% block body_bottom %}
{% endblock %}