{% extends "./base.html" %}

{% load layout %}

{% block title %}Gems of Craigslist - Spot a Gem!{% endblock %}

{% block active_displaygems %}active{% endblock %}

{% block head %}
<meta name="description" content="Discover the gems of cragislist.">
{% endblock %}

{% block body %}
<div class="row-fluid">
  <div class="span12">
    <h2>Top 10 Gems</h2>
    <p>Have them emailed to you daily.</p>
    <form class="form-inline" method="POST" action="{% url displaygems %}">{% csrf_token %}
      <div class="input-prepend">
        <span class="add-on"><i class="icon-envelope"></i></span>
        <input class="span10" id="inputIcon" type="text" name="email" />
      </div>
      <button type="submit" class="btn">Subscribe</button>
    </form>
  </div>
</div>

{% for item in items %}
<div class="row-fluid item">
  <div class="span9">
    <h4>{{ forloop.counter }}. {{ item.title|trimtitle }} &nbsp;&nbsp;<a href="{{ item.url }}"><img src="{{ STATIC_URL }}img/external_link.png" /></a></h4>
    <div class="imageholder">
      <a href="{{ item.url }}" target="_blank"><img src="{{ item.first_image.url }}" /></a>
      <strong class="PriceContainer">
        <strong class="price">${{ item.price }}</strong>
      </strong>
    </div>
  </div>
  <div class="span3">
    <p><img src="{{ STATIC_URL }}img/diamond_sm.png" /> {{ item.rating|percent }}</p>
  </div>
</div>
{% endfor %}

<hr>

{% endblock %}

{% block body_bottom %}
{% endblock %}