{% extends "./base.html" %}

{% block title %}Gems of Craigslist{% endblock %}

{% block head %}
<meta name="description" content="Discover the gems of cragislist.">
{% endblock %}

{% block body %}
<div class="container">
  <div class="row">
    <div class="span12">
      <h1>Gems of Craigslist</h1>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="span12">
      <p>Vote vote vote!</p>
    </div>
  </div>
</div>
{% endblock %}

{% block body_bottom %}
{% endblock %}