{% extends "./base.html" %}

{% load layout %}
{% load smarttime %}

{% block title %}Gems of Craigslist - Spot a Gem!{% endblock %}

{% block head %}
<meta name="description" content="Discover the gems of cragislist.">

<!-- Capture Mixpanel Events -->
<script type="text/javascript">
mixpanel.track('Viewed Item', { 'user_type': '{{ request.session.user_type }}', 'countdown': '{{ request.session.countdown }}' });
//mixpanel.track_forms('#vote-form', 'Vote');
//mixpanel.track_links('a.vote-gem', 'Vote Gem');
</script>

{% endblock %}

{% block active_play %}active{% endblock %}

{% block body %}

{% if item %}
<div class="votebuttons">
  <a class="btn btn-large vote-gem" data-id="{{ item.id }}" href="#">Gem</a>
  <a class="btn btn-large vote-dud" data-id="{{ item.id }}" href="#">Dud</a>
  <span>&nbsp; &nbsp;
{% if request.session.countdown > 5 %}{{ request.session.countdown }} more to go!
{% elif request.session.countdown > 3 %}Only {{ request.session.countdown }} more!
{% elif request.session.countdown > 1 %}{{ request.session.countdown }} left, so close!
{% elif request.session.countdown == 1 %}Just 1 more!
{% endif %}
</span>
</div>
<div class="row-fluid">
  <div class="span9">
    <div class="row-fluid">
      <div class="span9">
        <h4>{{ item.title|trimtitle|safe }}&nbsp;&nbsp;<a href="{{ item.url }}" target="_blank"><img src="{{ STATIC_URL }}img/external_link.png" /></a></h4>
      </div>
      <div class="span3" style="text-align: right;">
        <p class="small" style="vertical-align: middle">posted: {{ item.post_datetime|smarttime }} </p>
      </div>
    </div>

    <div id="PlayCarousel" class="carousel slide">
      <!-- Carousel items -->
      <div class="carousel-inner">
      {% for image in item.itemimage_set.all %}
          <div class="{% if forloop.counter0 == 0 %}active {% endif %}item" data-id="{{ forloop.counter0 }}">
            <img src="{{ image.url }}" />
          </div>
      {% endfor %}
      </div>
      <strong class="PriceContainer"><strong class="price">${{ item.price|floatformat:"0" }}</strong></strong>

      <!-- Carousel nav -->
      {% if item.itemimage_set.all|length > 1 %}
      <a class="carousel-control left" href="#PlayCarousel" data-slide="prev">&lsaquo;</a>
      <a class="carousel-control right" href="#PlayCarousel" data-slide="next">&rsaquo;</a>
      {% endif %}
    </div>
    <!-- thumbnails -->
    {% if item.itemimage_set.all|length > 1 %}
    <ul class="thumbnails">
      {% for image in item.itemimage_set.all %}
        <li class="span2">
          <div class="thumbnail{% if forloop.counter0 == 0 %} highlightthumb{% endif %}" data-id="{{ forloop.counter0 }}"><img src="{{ image.url }}" alt=""></div>
        </li>
      {% endfor %}
    </ul>
    {% endif %}
    <div style="display:none">
      <form id="vote-form" method="POST" action="{% url play %}">{% csrf_token %}
        <input type="hidden" id="form-item-id" name="item_id" value="{{ item.id }}" />
        <input type="hidden" id="form-action" name="action" value="" />
        <input type="submit" value="Vote" />
      </form>
    </div>
  </div><!-- end of span9 -->
  <div class="span3"><!-- side bar -->
    {% if prev_item %}
    <div class="card" id="user-info">
      <div id="showavatar">
        <a href=""><img id="user_photo" src="{{ prev_item.first_image.url }}" /></a>
      </div>
      <div id="showusername">
        <h5>Prev Item:</h5>
        {% if prev_item.num_views > 2 %}
        <h4><img src="{{ STATIC_URL }}img/diamond_sm.png" /> {{ prev_item.rating|percent }}</h4>
        {% else %}
        <p class="small">Not enough votes</p>
        {% endif %}
      </div>
    </div>
    {% endif %}
  </div><!-- end of span3 sidebar-->
</div><!-- end of row-fluid -->

{% endif %}

<hr>

{% endblock %}

{% block body_bottom %}
<script type="text/javascript">
$(document).ready( function() {

  // Carousel events
  $('#PlayCarousel').carousel({
    interval: false,
  });

  $('#PlayCarousel').bind('slid', function() {
    var img_num = $(this).find(".active").attr('data-id');
    //console.log(img_num);
    $(".thumbnails").find("[data-id='"+img_num+"']").addClass('highlightthumb');
  });

  $('#PlayCarousel').bind('slide', function() {
    $(".thumbnails").find(".highlightthumb").removeClass('highlightthumb');
  });

  $('.thumbnail').click(function() {
    var img_num = $(this).attr('data-id');
    //console.log("Clicked on Thumb: " + img_num)
    $("#PlayCarousel").carousel(img_num-0);
  });

  // Form events
  $('.vote-gem').click(function() {
    var item_id = $(this).attr('data-id');
    console.log('Gem ' + item_id);
    $('#form-action').attr('value', 'gem');
    $('#vote-form').submit();
  });

  $('.vote-dud').click(function() {
    var item_id = $(this).attr('data-id');
    console.log('Dud ' + item_id);
    $('#form-action').attr('value', 'dud');
    $('#vote-form').submit();
  });
});

</script>
{% endblock %}