{% extends "./base.html" %}

{% block title %}Gems of Craigslist - Spot a Gem!{% endblock %}

{% block head %}
<meta name="description" content="Discover the gems of cragislist.">
{% endblock %}

{% block body %}

<div class="container-narrow">
  <p><a class="btn btn-large btn-success vote-gem" data-id="{{ item.id }}" href="#">Gem</a>
    <a class="btn btn-large btn-success vote-dud" data-id="{{ item.id }}" href="#">Dud</a>
    {% if request.session.countdown > 0 %}{{ request.session.countdown }} more to go!{% endif %}</p>
</div>
<div class="row-fluid">
  <div class="span9">
    <div class="imageholder">
      <img src="{{ item.first_image.url }}" />
      <strong class="PriceContainer">
        <strong class="price">${{ item.price }}</strong>
      </strong>
    </div>
  </div>
  <div class="span3">
    <h4>{{ item.title|safe }}</h4>
  </div>
  <div style="display:none">
    <form id="vote-form" method="POST" action="{% url play %}">{% csrf_token %}
      <input type="hidden" id="form-item-id" name="item_id" value="{{ item.id }}" />
      <input type="hidden" id="form-action" name="action" value="" />
      <input type="submit" value="Submit" />
    </form>
  </div>
</div>

<hr>

{% endblock %}

{% block body_bottom %}
<script type="text/javascript">
$(document).ready( function() {
  $('.vote-gem').click(function() {
    var item_id = $(this).attr('data-id');
    console.log('Gem ' + item_id);
    $('#form-action').attr('value', 'gem');
    $('#vote-form').submit();
  });

  $('.vote-dud').click(function() {
    var item_id = $(this).attr('data-id');
    console.log('Dud ' + item_id);
    $('#form-action').attr('value', 'dud');
    $('#vote-form').submit();
  });
});
</script>
{% endblock %}